extends layout
block append content
                   div(class="jumbotron")
                    h3 Registrierung
                    <!-- WENN DIE REGISTRIERUNG NICHT ERFOLGREICH WAR,D.H SIE WARVFEHLERHAFT;DESWEGEN WERDEN DIESE FEHLER ANGEZEIGT-->
                    -if(err!=null){
                     h4 Die Registrierung war nicht möglich,denn:
                     ul
                       -for(var i = 0;i<err.length;i++){
                        li
                         a.label.label-danger.disabled.btn.btn-link #{err[i]}
                       -}
                    -}          
                    form(method="post" action="/registerUser")
                     -if(hasFailed){
                      <!-- WENN DIE REGISTRIERUNG NICHT ERFOLGREICH WAR,ZEIGEN WIR  DIE EINGABAFELDER MIT DEN  ZUVOR VOM USER EINGEGEBENEN DATEN AN -->
                     div(class="form-group form-inline")
                      input(class="form-control" name ="firstname" id ="firstname" placeholder="Vorname" value="#{firstname}")
                      input(class="form-control" name ="lastname" id ="lastname" placeholder="Nachname" value="#{lastname}")
                     div.form-group
                      input(class="form-control" name ="email" id ="email" placeholder="Email-adresse" value="#{email}")
                      input(class="form-control" name ="password" id ="password" placeholder="Password" type="password" value="#{password}")
                      input(class="form-control" name ="password2" id ="password2" placeholder="Password Wiederholen" type="password")
                     div.form-group.form-inline
                      label Adresse
                      div
                          input(class="form-control" name ="street" id ="street" placeholder="Strasse" value="#{street}")
                          input(class="form-control" name ="nr" id ="nr" placeholder="Nummer" value="#{nr}")
                          input(class="form-control" name ="plz" id ="plz" placeholder="Postleitzahl" value="#{plz}")
                          input(class="form-control" name ="city" id ="city" placeholder="Stadt" value="#{city}")
                     div.form-group
                       .radio
                        input(type='radio', name='group1', value='Mann' checked)
                        | Mann
                       .radio
                        input(type='radio', name='group1', value='Frau') 
                        | Frau
                     div
                      p(style="font-size:14px;")
                       span Durch Fortfahren akzeptiere ich die GOTAB.COM AGB
                     div
                       button(class="btn btn-primary btn-lg" ) Ihr Konto einrichten
                   -}
                   -else{
                     <!-- WENN DIE REGISTRIERUNG GANZ NEU IST ,BILDEN WIR DAS ENTSPRECHENDE LAYOUT DES FORMULAR AB -->
                     div(class="form-group form-inline")
                      input(class="form-control" name ="firstname" id ="firstname" placeholder="Vorname" )
                      input(class="form-control" name ="lastname" id ="lastname" placeholder="Nachname")
                     div.form-group
                      input(class="form-control" name ="email" id ="email" placeholder="Email-adresse")
                      input(class="form-control" name ="password" id ="password" placeholder="Password" type="password")
                      input(class="form-control" name ="password2" id ="password2" placeholder="Password Wiederholen" type="password")
                     div.form-group.form-inline
                      label Adresse
                      div
                          input(class="form-control" name ="street" id ="street" placeholder="Strasse")
                          input(class="form-control" name ="nr" id ="nr" placeholder="Nummer")
                          input(class="form-control" name ="plz" id ="plz" placeholder="Postleitzahl" )
                          input(class="form-control" name ="city" id ="city" placeholder="Stadt" )
                     div.form-group
                       .radio
                        input(type='radio', name='group1', value='Mann' checked)
                        | Mann
                       .radio
                        input(type='radio', name='group1', value='Frau') 
                        | Frau
                     div
                      p(style="font-size:14px;")
                       span Durch Fortfahren akzeptiere ich die GOTAB.COM AGB
                     div
                       button(class="btn btn-primary btn-lg" ) Ihr Konto einrichten
                   -}
